* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #f4f4f4;
  }
  
  .payment-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  
  .form-container, .payment-summary {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
    border-radius: 16px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
  }
  
  button {
    padding: 12px;
    width: 100%;
    background-color: #141414;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #141414;
  }
  
  .payment-summary {
    display: flex;
    flex-direction: column;
  }
  
  #payment-details {
    margin-top: 20px;
  }
  
  .payment-summary div {
    margin-bottom: 10px;
  }
  